<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/mui.indexedlist.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
		<style>
			html,
			body {
				height: 100%;
				overflow: hidden;
			}
			
			.mui-bar {
				-webkit-box-shadow: none;
				box-shadow: none;
			}
			
			.title {
				padding: 10px;
				width: 100%;
			}
			
			.divbuttonCurrent {
				width: 33%;
				text-align: center;
				padding: 5px;
			}
			
			.divbuttonCurrent button {
				width: 85%;
			}
			
			.divbutton {
				width: 33%;
				text-align: center;
				float: left;
				padding: 5px;
			}
			
			.divbutton button {
				width: 85%;
			}
			
			.currenticon {
				color: #FD4F01;
			}
			
			.divbutton .selected {
				color: #FD4F01;
				background: #FEF5F0;
			}
		</style>
	</head>
	<script language="JavaScript">
		var currentCityCode = window.localStorage.getItem("currentCityCode") || "";
		var currentCityName = window.localStorage.getItem("currentCityName") || "";
		var fromPage = window.localStorage.getItem("fromPage") || "";
	</script>

	<body>
		<!--<header class="mui-bar mui-bar-nav">
			<a class=" mui-icon  mui-pull-left" style="font-size:inherit;padding-top: 13px ;color: #8f8f94;">{{City}}﹀</a>
			<div class="mui-input-row mui-search" style="margin:0 17%;margin-right: 0px;position: absolute;width: 78%;">
				<input type="search" class="mui-input-clear" placeholder="热搜内容     ">
			</div>
		</header>-->

		<!--下拉刷新容器-->
		<div class="mui-content">
			<script id='citys-template' type="text/template">
				<% for(var g in cityGroups){ var item=cityGroups[g]; %>
				<li data-group="<%=item.Code%>" class="mui-table-view-divider mui-indexed-list-group">
					<%=item.Name%>
				</li>
				<% for(var c in item.citys) { var city=item.citys[c]%>
				<li data-value="<%=city.Code%>" data-tags="<%=city.Name%>" class="mui-table-view-cell mui-indexed-list-item">
					<%=city.Name%>
				</li>
				<%} } %>
			</script>
			<div id='list' class="mui-indexed-list">
				<div class="mui-indexed-list-search mui-input-row mui-search">
					<input type="search" class="mui-input-clear mui-indexed-list-search-input" placeholder="搜索城市">
				</div>
				<div id="middle" class="mui-indexed-list-other">
					<div class="title"><b>当前定位</b></div>
					<div>
						<div class="divbuttonCurrent"><button type="button" class="mui-btn" id="currentLocateButton"><span class="mui-icon mui-icon-location-filled currenticon"></span>&nbsp;<span id="currentLocateCity" citycode="{{currentCityCode}}">{{currentCityName}}</span></button></div>
					</div>
					<div class="title"><b>热门城市</b></div>
					<div id="div-hotcity">
						<div class="divbutton" v-for="city in hotcitys"><button type="button" class="mui-btn btncity" :value="city.Code" :class="{ selected: city.Code==currentCityCode }">{{city.Name}}</button></div>
					</div>
					<div class="mui-row"></div>
				</div>
				<div class="mui-indexed-list-bar">
					<a v-for="g in cityGroups">{{g.Code}}</a>
				</div>
				<div class="mui-indexed-list-alert"></div>
				<div class="mui-indexed-list-inner">
					<div class="mui-indexed-list-empty-alert">没有数据</div>
					<ul class="mui-table-view" id="ulCitys"></ul>
				</div>
			</div>
		</div>
	</body>
	<script src="../js/mui.min.js "></script>
	<script src="../js/app.js "></script>
	<script src="../js/mui.picker.min.js "></script>
	<script src="../js/vue.min.js "></script>
	<script src="../js/mui.indexedlist.01.js"></script>
	<script src="../js/arttmpl.js"></script>
	<script src="../js/jquery.js"></script>
	<script>
		var model = null;
		var hotcitys = [{
			Code: "BJ",
			Name: "北京"
		}, {
			Code: "SH",
			Name: "上海"
		}, {
			Code: "SZ",
			Name: "深圳"
		}, {
			Code: "CD",
			Name: "成都"
		}, {
			Code: "GZ",
			Name: "广州"
		}, {
			Code: "CC",
			Name: "长春"
		}];
		initUI = function() {
			model = new Vue({
				el: '#list',
				data: {
					hotcitys: hotcitys,
					cityGroups: cityGroups,
					currentCityCode: currentCityCode||"BJ",
					currentCityName: currentCityName||"北京"
				}
			});
		};
		var cityGroups = [{
			Code: "A",
			Name: "A",
			citys: [{
				Code: "ALS",
				Name: "阿里苏"
			}, {
				Code: "ALY",
				Name: "阿里云"
			}, {
				Code: "AED",
				Name: "阿二大"
			}, {
				Code: "AL2",
				Name: "阿里2"
			}, {
				Code: "ALY",
				Name: "阿里云"
			}, {
				Code: "AED",
				Name: "阿二大"
			}, {
				Code: "AL2",
				Name: "阿里2"
			}]
		}, {
			Code: "B",
			Name: "B",
			citys: [{
				Code: "BJ",
				Name: "北京"
			}, {
				Code: "BLG",
				Name: "布拉格"
			}]
		}, {
			Code: "C",
			Name: "C",
			citys: [{
				Code: "CA",
				Name: "长安"
			}, {
				Code: "CS",
				Name: "长沙市"
			}, {
				Code: "CD",
				Name: "成都市"
			}, {
				Code: "CD",
				Name: "承德市"
			}]
		}, {
			Code: "D",
			Name: "D",
			citys: [{
				Code: "DY",
				Name: "德阳市"
			}, {
				Code: "DZ",
				Name: "德州市"
			}, {
				Code: "DZ",
				Name: "德州市"
			}, {
				Code: "DZ",
				Name: "德州市"
			}]
		}];

		mui.init();
		mui.ready(function() {
			var header = document.querySelector('header.mui-bar');
			document.getElementById('ulCitys').innerHTML = template('citys-template', {
				cityGroups: cityGroups
			});
			var middle = document.getElementById("middle");
			var list = document.getElementById('list');
			//calc hieght--- middle.offsetHeight
			list.style.height = (document.body.offsetHeight) + 'px';
			//create
			window.indexedList = new mui.IndexedList(list);
			initUI();
			mui("#ulCitys").on('tap', '.mui-indexed-list-item', function() {
				var cityName = this.innerHTML;
				var cityCode = this.getAttribute("data-value");
				model.currentCityCode = cityCode;
				model.currentCityName = cityName;
				window.localStorage.setItem("currentCityCode", cityCode);
				window.localStorage.setItem("currentCityName", cityName);
				
			});
			mui("#div-hotcity").on('tap', '.mui-btn', function() {
				var cityName = this.innerHTML;
				var cityCode = this.value;
				//this.addClass("");
				model.currentCityCode = cityCode;
				model.currentCityName = cityName; 
				window.localStorage.setItem("currentCityCode", cityCode);
				window.localStorage.setItem("currentCityName", cityName);
			});
			mui("#list").on("tap",".mui-table-view-cell",function(){
				window.localStorage.setItem("currentCityCode", $j(this).attr("data-value"));
				window.localStorage.setItem("currentCityCode", $j(this).attr("data-tags"));
				jumpPage();
			});
			
			mui("#list").on("tap",".mui-btn.btncity",function(){
				window.localStorage.setItem("currentCityCode", $j(this).text());
				window.localStorage.setItem("currentCityCode", $j(this).attr("value"));
				jumpPage();
			});
			
			mui("#list").on("tap",".mui-btn.btncity",function(){
				window.localStorage.setItem("currentCityCode", $j(this).text());
				window.localStorage.setItem("currentCityCode", $j(this).attr("value"));
				jumpPage();
			});
			
			mui("#list").on("tap","#currentLocateButton",function(){
				window.localStorage.setItem("currentCityCode", $j(this).find("#currentLocateCity").text());
				window.localStorage.setItem("currentCityCode", $j(this).find("#currentLocateCity").attr("citycode"));
				jumpPage();
			});
			
			
			
			var jumpPage = function(){
				//跳转到
				var jumpUrl = "";
				var jumpId = "";
				if(fromPage=="hotelMain"){
					jumpUrl = "hotel/hotel_main.html";
					jumpId = "hotel_main.html";
				}
				mui.openWindow({
					id: jumpId,
					url: jumpUrl,
					show: {
						autoShow: true
					}
				});
			}
		});
		
		
	</script>

</html>